*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman';
}
.Section-1_Button{
    background-color: #D92351;
}
.Section-1_Content h1{
    font-size: 60px;
}



@media only screen and (max-width: 600px){

 
    .Section-1_Content h1{
        font-size: 40px;
    }

   
}